body {
    text-align: center;
    margin: 0 auto;
    height: 100%;
    /* background: #e6f4f1; */
}

#roomList {
    height: 400px;
    overflow-y: scroll;
    background: whitesmoke;
}

#messageList {
    height: 513px;
    overflow-y: scroll;
}

.noRoomSelected h2 {
    height: 100%;
    font-size: 2em;
}

.MuiGrid-spacing-xs-8-22>.MuiGrid-item-2 {
    margin-top: 30px;
}

.fas {
    margin-right: 5px;
}

.roomItem>span,
.MuiListItem-root-202>span {
    margin: 0 4px;
    text-align: center;
    width: 0;
    display: inline-flex;
    transition: 0.3s linear;
    opacity: 0;
}

.fa-comment,
.fa-times-circle {
    color: #e91e63 !important;
}

.fa-edit {
    color: #00bcd4;
}

.roomItem:hover>span,
.MuiListItem-root-202:hover>span {
    display: inline-block;
    width: 20px;
    opacity: 1;
}

.userInfo {
    padding: 8px 0;
}

/* Long room name styling */

.roomItem h3 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* Buttons */

.classListField,
.classListButton,
.messageButton {
    width: 100%;
}

/* Text inputs*/

.MuiInput-input-195 {
    margin-left: 10px !important;
}

.activeUser p {
    color: #00bcd4;
    overflow-wrap: break-word;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.otherUser p {
    color: #e91e63
}

.MuiTypography-root-129.noRoomSelected {
    margin-top: 200px;
}

/* .wholeMessageArea .MuiPaper-root-100 {
    background: #e91e63 !important;
} */

#messageList,
#roomList {
    background: whitesmoke !important;
    margin: 10px 0;
    padding: 0;
}

.userName {
    padding: 14px 0;
}