.App {
    text-align: center;
    margin: 0 auto;
    /* background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12); */
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#roomList {
    height: 400px;
    overflow-y: scroll;
}

#messageList {
    height: 514px;
    overflow-y: scroll;
}

.noRoomSelected {
    height: 100%;
    font-size: 2em;
}

.MuiGrid-spacing-xs-8-22>.MuiGrid-item-2 {
    margin-top: 50px;
}

.fas {
    margin-right: 5px;
}

.roomItem>span {
    margin-right: 4px;
    text-align: center;
    width: 0;
    display: inline-flex;
    transition: 0.3s linear;
    opacity: 0;
}

.fa-comment,
.fa-times-circle {
    color: #e91e63 !important;
}

.fa-edit {
    color: #00bcd4;
}

.roomItem:hover>span {
    display: inline-block;
    width: 20px;
    opacity: 1;
}

.userInfo {
    padding: 8px 0;
}

.list-group-item {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.classListField,
.classListButton,
.messageButton {
    width: 100%;
}

/* .MuiButton-flatPrimary-155,
.MuiButton-root-153 {
    color: #00bcd4 !important;
}

.MuiAppBar-colorPrimary-98 {
    background-color: #00bcd4 !important;
    color: #ff4081
} */

.MuiInput-input-195 {
    margin-left: 10px !important;
}