.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#roomList {
    height: 400px;
    overflow-y: scroll;
}

#messageList {
    height: 490px;
    overflow-y: scroll;
}

.wholeMessageArea {
    height: 648px;
}

.noRoomSelected {
    height: 100%;
    font-size: 2em;
}

.mainContentArea {
    padding-top: 20px;
}

.jumbotron {
    padding: 0 6px 6px 6px;
}

.deleteButton {
    display: none;
}

.fa-camera-retro {
    text-align-last: right;
}

button.roomItem span {
    color: red;
    margin-right: 20px;
    text-align: center;
    width: 0;
    display: inline-block;
    transition: 0.3s linear;
    opacity: 0;
}

button.roomItem:hover span {
    display: inline-block;
    width: 30px;
    opacity: 1;
}

.userInfo {
    padding: 8px 0;
}